{% extends "base.html" %}
{% block content %}
    <main>
        <div>
            <h1>What I'm interested in</h1>
            <a href="{% url 'interest_create' %}">Create a new Interest</a>
            <div>
                <table>
                    <thead>
                        {% for interest in interest_list.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'interest_detail' interest.pk %}">
                                        <h2>{{ interest.name }}</h2>
                                    </a>
                                {% endfor %}
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </main>
{% endblock content %}
