{% extends "base.html" %}
{% block content %}
    <main>
        <div>
            <h1>What I'm interested in</h1>
            {% for interest in interest_list.all %}
                <h2>{{ interest.name }}</h2>
                <h4>{{ interest.description }}</h4>
                <p>by: {{ interest.author }}</p>
                <p>If you want to read more about scuba diving and the fascinating underwater world, click here: ''''</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
