{% extends "base.html" %}
{% block content %}
    <main>
    </br>
</br>
<div>
    <div>
        <a href="{% url 'scuba_list' %}">
            <button>Back</button>
        </a>
    </div>
</br>
</br>
<div>
    {% if user.is_staff %}
        <a href="{% url 'scuba_edit' scuba_detail.pk %}">Update</a>
    {% endif %}
</div>
</div>
<h1>{{ scuba_detail.location }}</h1>
{% if scuba_detail.image %}<img src="{{ scuba_detail.image }}" width="300">{% endif %}
<h3>Overview</h3>
<p>{{ scuba_detail.description }}</p>
{% if scuba_detail.image6 %}<img src="{{ scuba_detail.image6 }}" width="300">{% endif %}
<h3>Best Time</h3>
<p>{{ scuba_detail.best_time }}</p>
<h3>Other Useful Information</h3>
<p>
    <b>Languages:</b> {{ scuba_detail.languages }}
</p>
<p>
    <b>Currency:</b> {{ scuba_detail.currency }}
</p>
<p>
    <b>Time Zone:</b> {{ scuba_detail.timezone }}
</p>
<div class="scuba_detail_images">
    {% if scuba_detail.image2 %}<img src="{{ scuba_detail.image2 }}" width="500">{% endif %}
    {% if scuba_detail.image3 %}<img src="{{ scuba_detail.image3 }}" width="500">{% endif %}
    {% if scuba_detail.image4 %}<img src="{{ scuba_detail.image4 }}" width="500">{% endif %}
    {% if scuba_detail.image5 %}<img src="{{ scuba_detail.image5 }}" width="500">{% endif %}
</div>
</main>
{% endblock content %}
{% comment %} <table class="locations-table">
    <thead>
        <tr>
            <th>Location</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for place in scuba_detail %}
            <tr>
                <td>{{ place.location }}</td>
                <td>{{ place.description }}</td>
                <td>{{ place.image }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table> {% endcomment %}
{% comment %} 
<div class="locations-detail">
    {% for place in scuba_detail.all %}
        <h2>{{ place.location }}</h2>
        {% if place.image %}<img src="{{ place.image }}" width="80">{% endif %}
        <p>{{ place.description }}</p>
        {% if user.is_staff %}
            <a href="{% url 'scuba_edit' place.pk %}">Edit</a>
        {% endif %}
    {% endfor %}
</div> {% endcomment %}
