{% extends "base.html" %}
{% block content %}
    <main>
    </br>
</br>
<div>
    <div>
        <a href="{% url 'scuba_list' %}">
            <button>Back</button>
        </a>
    </div>
</br>
</br>
</div>
<h1>{{ scuba_detail.location }}</h1>
{% if scuba_detail.image %}<img src="{{ scuba_detail.image }}" width="300">{% endif %}
<p>{{ scuba_detail.description }}</p>
</main>
{% endblock content %}
{% comment %} <table class="locations-table">
    <thead>
        <tr>
            <th>Location</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for place in scuba_detail %}
            <tr>
                <td>{{ place.location }}</td>
                <td>{{ place.description }}</td>
                <td>{{ place.image }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table> {% endcomment %}
{% comment %} 
<div class="locations-detail">
    {% for place in scuba_detail.all %}
        <h2>{{ place.location }}</h2>
        {% if place.image %}<img src="{{ place.image }}" width="80">{% endif %}
        <p>{{ place.description }}</p>
        {% if user.is_staff %}
            <a href="{% url 'scuba_edit' place.pk %}">Edit</a>
        {% endif %}
    {% endfor %}
</div> {% endcomment %}
