{% extends "base.html" %}
{% block content %}
    <main>
        <div>
            <h1>Equipment</h1>
        </div>
        <div>
            <a href="{% url 'scuba_list' %}">
                <button>Back</button>
            </a>
        </div>
    </br>
    <div class="xyz">
        <ul>
            <li>
                <a href="#Masks">Masks</a>
            </li>
            <li>
                <a href="#Diving Exposure Suit">Diving Exposure Suit</a>
            </li>
            <li>
                <a href="#SCUBA Unit">SCUBA Unit</a>
            </li>
            <li>
                <a href="#Scuba Diving Fins">Scuba Diving Fins</a>
            </li>
            <li>
                <a href="#Dive Watches">Dive Watches</a>
            </li>
            <li>
                <a href="#Signaling Devices">Signaling Devices</a>
            </li>
        </ul>
    </div>
</br>
<div>
    <p>
        Scuba diving equipment allows you to visit the underwater world by making it possible to breathe, see and move comfortably while below the surface. Gear helps you change from being a land-dweller to somewhat of an aquatic being - if only for a little while. A mask lets you see clearly. A scuba regulator and tank provide the air you need. Fins allow you to swim efficiently, and a wetsuit helps you stay warm. Whether you're just starting as a scuba diver or you're an experienced diver looking for new equipment, you'll find helpful suggestions and tips in this section. Keep in mind that fit, comfort and suitability are the three most important considerations when choosing gear, but you don't have to sacrifice color coordination and looking good.
    </p>
</br>
<div id="Masks">
    <img src="https://www.sportdiver.com/sites/sportdiver.com/files/styles/655_1x_/public/images/2018/05/clear-your-mask.jpg?itok=2FQuX4IB"
         width="320"/>
    <p>
        <strong>Masks</strong> - The scuba diving mask allows your eyes to see clearly underwater. Scuba masks start from as low as $20 and go up to over $1,000 for the full face mask with built-in communication system. As a beginner, a reasonable priced dive mask will be more than adequate. The most important feature is that the mask fits your face and you feel comfortable with the peripheral vision.
    </p>
</div>
</br>
<div id="Diving Exposure Suit">
    <img src="https://www.scubadiving.com/sites/scubadiving.com/files/styles/opengraph_1_91x1/public/images/2019/07/scubalab-wetsuit-test.jpg?itok=IjdhZCfT"
         width="320"/>
    <p>
        <strong>Diving Exposure Suit</strong> - They protect you from cuts and scrapes and retains heat so you’ll stay comfortable throughout the dive. The diving exposure suits are essentially thicker wetsuits than those used for surfing or wakeboarding, to offer protection from cold whilst underwater. Full exposure suits start around $60 and can go up to several hundred dollars depending on thickness and brand. In very cold waters, you may need semi-dry or even dry suits. If you are doing your Open Water Course in a cold environment, your Instructor will give you specific techniques how to use dry suits.
    </p>
</div>
</br>
<div id="SCUBA Unit">
    <img src="https://www.divein.com/wp-content/uploads/Diving/Articles/dir-equipment.jpg"
         width="320"/>
    <p>
        <strong>SCUBA Unit</strong> - These are the components that make your SCUBA unit. SCUBA is the acronym for Self Contained Underwater Breathing Apparatus. SCUBA gear unit allows you to breathe underwater and to ascend, descend, hover or float at will. It consists of a regulator, tank, Buoyancy Control Device, harness and instruments. These items are available separately or as a set with a wide array of prices depending on size of tank, brand, technology used etc. The SCUBA unit is the main part of the diving equipment.
    </p>
</div>
</br>
<div id="Scuba Diving Fins">
    <img src="https://www.divein.com/wp-content/uploads/Diving/Articles/finning-techniques.jpg"
         width="320"/>
    <p>
        <strong>Scuba Diving Fins</strong> - Allow you to swim using your powerful leg muscles. Fantastic to allow easy movement through the water, fins start from $40 and can go up to a couple of hundreds depending on design and brand. As a beginner, the most important factors are the comfort and fit. Consider the diving environment (cold or warm water, water entry and exit, sand, pebbles, boat dive) when you choose your fins.
    </p>
</div>
</br>
<div id="Dive Watches">
    <img src="https://gadgetsandwearables.com/wp-content/uploads/2017/11/garmin-s-new-descent-mk1-is-for-the-deeply-curious.jpg"
         width="320"/>
    <p>
        <strong>Dive Watches</strong> - These are simply watches used to measure the dive time. Many watches available from general stores can be used for this purpose providing they have the diving dial around the outer face and are, of course, water-resistant tested at 200m or 20 atm. These watches can start off anywhere from $70 and run into a few thousand dollars depending on brand and technology.
    </p>
</div>
</br>
<div id="Signaling Devices">
    <img src="https://www.a1scuba.com/wp-content/uploads/Surface-Signaling-Device.jpg"
         width="320"/>
    <p>
        <strong>Signaling Devices</strong> - Whistle, signal tube (SMB/DSMB) help you get the attention of other divers or dive boats from a distance. You deploy the SMB/DSMB during your safety stop and before you ascent to the surface. Surface Marker Buoys are very important when strong current exists or heavy boat traffic at the surface.
    </p>
</div>
</div>
</main>
{% endblock content %}
